<section class="section mb-3 h-100" id="about">
  <h1 class="section-heading text-center mb-4 mt-2 black-text">About Me</h1>

  <div class="row">
    <div class="col-md-12 pb-2 text-center black-text">
      <p class="lead mb-4"> My name is Rishita Jayant, I'm a Picture Retoucher/Editor.</p>
      <p>I am an enthusiast for perfection and brightness. I love to bring out the light from the pictures that hold much more in them as a potential. Pictures are memories for me, and I believe that when I take the picture to its maximum potential, I am making the memory stronger. I love doing this work and it has become my passion ever since...</p>
      <p>I want to constantly grow, hone my skills and bring my my potential for my work as well. I tend to believe that experience is the ultimate teacher and I am going for it...</p>
    </div>
  </div>
</section>
