<footer class="page-footer text-md-left background-black mt-2">
<div class="container-fluid text-center py-5">
  <div class="flex-center">
    <ul class="list-unstyled">
      <li>
        <h2 class="h2-responsive mb-4 mt-5 text-white"><i class="fas fa-quote-left"
          ari-hidden="true"></i>
          Photography Is An Art.
          <i class="fas fa-quote-right"
          aria-hidden="true"></i>
        </h2>
      </li>
      <li>
        <h4 class="font-italic text-white"></h4>
      </li>
    </ul>
  </div>
</div>

<!--social media -->
<div class="container mb-2">
  <div class="row">
    <div class="col-md-12 my-4">
      <div class="footer-sociams d-flex justify-content-center">
        <!--Facebook-->
        <a href="#" type="button" class="btn-floating btn-grey"><i class="fab fa-facebook"></i></a>
        <!--Twitter-->
        <a href="#" type="button" class="btn-floating btn-blue"><i class="fab fa-twitter"></i></a>
        <!--Facebook-->
        <a href="#" type="button" class="btn-floating btn-red"><i class="fab fa-youtube"></i></a>
        <!--Facebook-->
        <a href="#" type="button" class="btn-floating btn-green"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>


<!--copywright-->

<div class="footer-copyright py-3 text-center text-white">
  <div class="container-fluid">
    2021 Copyright <a href="#">Rishita Jayant</a>
  </div>
</div>
</footer>
