<header>
    <div class="view jarallax mb-4" data-jarallax='{"speed":0.2}'
      style="background-image: url('https://i.ytimg.com/vi/Dyf2WDPttko/maxresdefault.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      background-position: center center;
      min-height:100vh;">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row smooth-scroll">
            <div class="col-md-12">
              <div class="text-white text-center">
                <h2 class="display-3 name-heading font-weight-bold pb-4 mb-2 wow fadeIn">Rishita Jayant</h2>
                <h3 class="intro-subtext tagline-heading wow fadeIn" data-wow-delay="0.2s">Graphic Designer and Picture Retoucher</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  